<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Поступил новый заказ!</title>
</head>
<body>
<b>Имя заказчика: </b>{{ name }}<br>
<b>Контактный телефон: </b>{{ phone }}<br>
<b>ID заказанного товара: </b>{{ product.pk }}<br>
<b>Название заказанного товара: </b>{{ product.title }}<br>
<b>Объем заказа: </b>{{ count_of_product }}<br>
<b>Комментарий: </b>{{ text|safe }}<br>
</body>
</html>